---
import { getCollection } from "astro:content";
import Content from "../../components/Content.astro";
import List from "../../components/List.astro";
import ListItem from "../../components/ListItem.astro";
import Layout from "../../layouts/layout.astro";

const title = "Blog | Nikita Fordui";
const allBlogPosts = await getCollection("blog", ({ data }) => !data.draft);
---
<Layout title={title}>
  <div class="mb-10">
    <h1
      class="text-6xl md:text-7xl font-light text-payne_gray dark:text-silver_gray leading-[1.1] transition-colors duration-300"
    >
      Blog
    </h1>
  </div>

  <Content>
    {allBlogPosts.length === 0 ? (
      <p class="text-lg text-davy_gray dark:text-silver_gray-500">No blog posts yet.</p>
    ) : (
      <List>
        {allBlogPosts.map((post, index) => (
          <ListItem
            href={`/blog/${post.id}`}
            date={post.data.pubDate}
            title={post.data.title}
            description={post.data.description}
            image={"https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fblog-assets.busbud.com%2Fwp-content%2Fuploads%2F2019%2F11%2FSunnylvsfjorden-fjord-canyon.png&f=1&nofb=1&ipt=d227d5e9690edc53204dea108f6310d71a59e90b026f81f30e7bcfb226cc44e5&impw=1600&imph=900"}
            imageAlt={"Sunny day in the fjord"}
            showDivider={index < allBlogPosts.length - 1}
          />
        ))}
      </List>
    )}
  </Content>
</Layout>
