---
import { getCollection } from "astro:content";
import Content from "../../components/Content.astro";
import List from "../../components/List.astro";
import ListItem from "../../components/ListItem.astro";
import Layout from "../../layouts/layout.astro";

const title = "Blog | Nikita Fordui";
const allBlogPosts = await getCollection("blog", ({ data }) => !data.draft);
---
<Layout title={title}>
  <div class="mb-10">
    <h1
      class="text-6xl md:text-7xl font-light text-payne_gray dark:text-silver_gray leading-[1.1] transition-colors duration-300"
    >
      Blog
    </h1>
  </div>

  <Content>
    {allBlogPosts.length === 0 ? (
      <p class="text-lg text-davy_gray dark:text-silver_gray-500">No blog posts yet.</p>
    ) : (
      <List>
        {allBlogPosts.map((post, index) => (
          <ListItem
            href={`/blog/${post.id}`}
            date={post.data.pubDate}
            title={post.data.title}
            description={post.data.description}
            showDivider={index < allBlogPosts.length - 1}
          />
        ))}
      </List>
    )}
  </Content>
</Layout>
