---
import { getCollection } from "astro:content";
import List from "./List.astro";
import ListItem from "./ListItem.astro";

const allAlbums = await getCollection("albums", ({ data }) => !data.draft);

const sortedAlbums = allAlbums.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

{sortedAlbums.length === 0 ? (
  <p class="text-lg text-davy_gray dark:text-silver_gray-500">
    No albums available yet.
  </p>
) : (
  <List>
    {sortedAlbums.map((album, index) => {
      return (
        <ListItem
          href={`/photos/${album.id.split("/")[0]}`}
          date={album.data.pubDate}
          title={album.data.title}
          description={album.data.description}
          image={album.data.coverPhoto}
          imageAlt={album.data.title}
          showDivider={index < sortedAlbums.length - 1}
        />
      );
    })}
  </List>
)}
